Welcome to your Bookmark Manager

<form action="/name" method="POST">
  <label for="user_name">
  Username
  <input type="text" name="user_name">
  </label><br/>
  <input type="submit" value="Submit">
</form>